.git
.DS_Store
__pycache__
*.pyc
venv/
.venv/
notebooks/
data/raw/
data/processed/
*.md
scripts/
.idea/
.vscode/
.gitignore
.dockerignore
.claude/
.ipynb_checkpoints/
*.log
frontend/node_modules/
frontend/dist/
